*, *::after, *::before{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}
body{
    background: linear-gradient(to right, hsl(200,100%, 50%), 
    hsl(175, 100%, 50%))
    
}
